{
	"id_booth": 3,
	"log_filename": "log.txt",
	"photo_count": 4,
	"photo_pause": 5,
	"price":0,
	"add_logo": true,
	"logo1_name":"logo.png",
	"logo2_name":"logo.png",
	"logo1_pos": {"x":90,"y":961},
	"logo2_pos": {"x":90,"y":2166},
	"margin": {"x":55,"y":55},
	"mode":"classique",
	"arduino_json": false,
	"ia":false,
	"vertical": true,
	"usb_stick": false,
	"usb_stick_adr": "/media/minutepapillons/BOOTH",
	"bkpimg":false,
	"bkp_path":"/home/minutepapillons/BkpImg/Suzon",
	"print": false,
	"ledstrip":true,
	"analog_read":true,
	"rotate_matrix":true,
	"prompts": {
    "1A": {
      "name": "Disco wonderland",
      "positive": "disco night, 70s movie, disco costume, alice in wonderland, dance club, abba",
      "negative": ""
    }
	}
}
